<form method="post" action="{{ path('centres_delete', {'id': centre.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cette centre?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ centre.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button>
</form>
