<form method="post" action="{{ path('professions_delete', {'id': profession.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cettre profession?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profession.id) }}">
    <button class="btn btn-danger kl-bouton"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button>
</form>
