{% extends "ct/ct.html.twig" %}

{% block title %}Contrôle Technique - Province - Nouveau{% endblock %}

{% block contenue %}
    <div class="container">
        <div class="row justify-content-center align-items-center kl-sous-titre">
            <h1>Ajouter un nouveau province</h1>
        </div>

        {{ include('provinces/_form.html.twig') }}
        <br>
        <a href="{{ path('provinces_index') }}" class="btn btn-primary">Retour vers la liste</a>
    </div>
{% endblock %}
