{% extends 'base.html.twig' %}

{% block title %}Contrôle Technique{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-3 kl-fond-menu">
                <img src="dist/images/header.png" class="img-fluid" alt="Image en-tête de la DGSR">
                <div class="vertical-menu kl-menu">
                    <a href="#" class="active">Tableau de bord</a>
                    <a href="#">Ajouter Vérificateur</a>
                    <a href="#">Ajouter Véhicule</a>
                    <a href="#">Liste Véhicule</a>
                    <a href="#">Liste Vérificateur</a>
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            </div>            
            
            <div class="col-9">
                <div class="row">
                    <div class="col-9 kl-titre">
                        <span>Contrôle Technique</span>
                    </div>
                    <div class="col-3">
                        <nav class="navbar navbar-expand-sm bg-light">
                            <div class="collapse navbar-collapse" id="oNavigation">
                                <ul class="nav navbar-nav">
                                    <li class="nav-item dropdown kl-box-border-menu">
                                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><span class="fa fa-user"></span>&nbsp;Utilisateur <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item kl-box-border-menu"><a class="nav-link" href="#">Profil</a></li>
                                            <li class="nav-item kl-box-border-menu"><a class="nav-link" href="#">Déconnexion</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
