{% extends 'base.html.twig' %}

{% block title %}Contrôle Technique{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-3 kl-fond-menu">
                <img src="dist/images/header.png" class="img-fluid" alt="Image en-tête de la DGSR">
                <div class="vertical-menu kl-menu">
                    <a href="#" class="active">Tableau de bord</a>
                    <a href="#">Ajouter Vérificateur</a>
                    <a href="#">Ajouter Véhicule</a>
                    <a href="#">Liste Véhicule</a>
                    <a href="#">Liste Vérificateur</a>
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            </div>            
            
            <div class="col-9">
                Ici se trouve les contenues de la page
            </div>
        </div>
    </div>
{% endblock %}
