{# ./templates/ct/pdfsaisie.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Contrôles inopiné</title>
    </head>
    <body style="font-size:10px">
        <table>
            <tr>
                <td width="75px" align="center">
                    SECRETARIAT D’ETAT AU PRES DU MINISTERE DE LA
                    DEFENSE NATIONALE CHARGE DE LA GENDARMERIE
                    <br>--------------------------<br>
                    DIRECTION GENERALE DE LA SECURITE ROUTIERE
                    <br>-----------------------------<br>
                    DIRECTION DES OPERATIONS ROUTIERE
                    <br>--------------------------<br>
                    ALAROBIA – BP.784<br>
                    <img src='/dist/images/logo_dgsr.png' alt="logo" width=50px height=50px>
                    <br>« LAHITOKANA NY AINA »
                </td>
                <td width="20px"></td>
                <td width="75px" align="center">
                    REPOBLIKAN’I MADAGASIKARA<br>
                    Fitiavana-Tanindrazana-Fandrosoana
                    <br>--------------------------<br><br>
                    Antananarivo, le
                </td>
            </tr>
        </table>
    </body>
</html>