<form method="post" action="{{ path('papiers_delete', {'id': papier.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer ce papier?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ papier.id) }}">
    <button class="btn btn-danger kl-bouton"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button>
</form>
