@import "~select2/dist/css/select2.min.css";
body {
    background-color: lightgray;
    max-width: 100%;
}

.kl-titre {
    text-align: center;
    align-content: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 100px;
}

