<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Contrôle Routier - {% block title %}Accueil{% endblock %}</title>        
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        {% block stylesheets %} 
            <link rel="icon" type="image/x-icon" href="/dist/images/logo_dgsr.png" />
            <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
            <link rel="stylesheet" href="/dist/css/login.css" media="all">
            <link rel="stylesheet" href="/dist/css/menu.css" media="all">
            <link rel="stylesheet" href="/dist/css/pied.css" media="all">
            <link rel="stylesheet" href="/dist/css/bootstrap.css" media="all">
            <link rel="stylesheet" href="/dist/css/content.css" media="all">
        {% endblock %}
    </head>
    <body class="kl-largeur-ecran">
        <div class="container kl-ajustement kl-largeur-ecran mw-100 p-3">
            <div class="col-sm col-md col-xl">
                <div class="row">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}
                <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>-->
                <script src="dist/css/bootstrap.js"></script>
                <script src="dist/css/jquery-3.3.1.min.js"></script>
        {% endblock %}
    </body>
</html>
