{% extends 'ct/ct.html.twig' %}

{% block title %}Contrôle Technique - Province{% endblock %}

{% block contenue %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="row justify-content-center align-items-center kl-sous-titre">
        <h1>Ajout Nouveau Province</h1>
    </div>

    <div class="container">
        <div class="row container-fluid justify-content-center">
            <div class="center-block">
                <form method="post" class="form-inline">
                    <div class="form-group">
                        <div class="kl-bordure-form  align-items-center">
                            <span>Province : </span>
                            <label for="inputProvince" class="sr-only">Province : </label>
                            <input type="text" value=" " name="province" id="inputProvince" class="form-control" placeholder="Province" required autofocus>
                            <button class="btn btn-lg btn-primary" type="submit">
                                Ajouter
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
</div>
{% endblock %}
